@font-face {
  font-family: "iconfont"; /* Project id 4902328 */
  src: url('iconfont.woff2?t=1745511899456') format('woff2'),
       url('iconfont.woff?t=1745511899456') format('woff'),
       url('iconfont.ttf?t=1745511899456') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinliang:before {
  content: "\e652";
}

.icon-jingyin:before {
  content: "\e653";
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-shunxubofang:before {
  content: "\e6ba";
}

.icon-next:before {
  content: "\e73c";
}

.icon-prev:before {
  content: "\e73d";
}

.icon-play_list:before {
  content: "\ea86";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-zanting:before {
  content: "\e601";
}

.icon-tingzhi:before {
  content: "\e7e4";
}

