@font-face {
  font-family: "iconfont"; /* Project id 4902328 */
  src: url('iconfont.woff2?t=1745337069847') format('woff2'),
       url('iconfont.woff?t=1745337069847') format('woff'),
       url('iconfont.ttf?t=1745337069847') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-shunxubofang:before {
  content: "\e6ba";
}

.icon-icon-:before {
  content: "\e73c";
}

.icon-icon-1:before {
  content: "\e73d";
}

.icon-24gf-playlistMusic3:before {
  content: "\ea86";
}

.icon-bofang:before {
  content: "\e600";
}

.icon-zanting:before {
  content: "\e601";
}

.icon-tingzhi:before {
  content: "\e7e4";
}

.icon-bofang1:before {
  content: "\e6a2";
}

